<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STREAMING CO2 BEREGNER</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>

<img src="img/logo.png" alt="Logo" width="75px" height="75px" style="text-align: left;display:inline-block">
<p onclick="window.location.href = '/'" style="text-align: left; display:inline-block;margin-right: 5%">Home</p>
<p style="text-align: right; display: inline-block;margin-left: 85%">Menu</p>
<h1 style="text-align: center;padding-bottom: 100px">STREAMING CO2 BEREGNER</h1>

<button onclick="window.location.href = '/input';" style="margin-left: 47%; font-size: 24px">BEREGN</button>


<a href="/privacy" style="position: absolute;bottom: 0">Privacy</a>

</body>
</html>