<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streaming CO&#8322 Beregner</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<header class="top-container">
    <section class="logo"><img src="/img/logo.png" alt="logo"/></section>
    <section class="menu"><i class="material-icons md-48">menu</i></section>
</header>
<article class="main-container">
    <header class="main-header">
        Streaming CO<sub>2</sub> Beregner
    </header>
    <button class="button-green" onclick="window.location.href = '/input';">
        <span>Beregn</span>
    </button>
    <br><a href="/login">Login</a>
    <a href="/privacy" class="privacyLink">Privacy</a>
</article>

</body>
</html>