<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<header class="top-container">
    <section class="logo">Logo</section>
    <section class="menu">Menu</section>
</header>
<article class="main-container">
    Beregn for uge "uge-nummer"
    <section class="stream-form">
        <form th:action="@{'/input'}" method="post" id="time-form">
            <select name="category">
                <option value="" disabled selected>Vælg streaming type...</option>
                <option value="MUSIC">Musik</option>
                <option value="VIDEO">Film/Serier</option>
                <option value="MOBILE">Mobil skærmtid</option>
            </select>
            <label>Timer</label>
            <input type="text" name="hoursStreamed"/>
        </form>
        <button type="submit" form="time-form">Udregn</button>
    </section>
</article>

</body>
</html>