<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Din profil</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<header class="top-container">
    <section class="logo"><img src="/img/logo.png" alt="logo"/></section>
    <section class="menu"><i class="material-icons md-48">menu</i></section>
</header>

<article class="main-container">
    <header class="main-header">
        Din profil
    </header>
    <form method="post" th:action="@{'/logout'}"><input type="submit" value="Logout"/></form>
    <a href="/privacy" class="privacyLink">Privacy</a>
</article>
</body>
</html>